body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: white;
}

.calculator {
    width: 300px;
    border: 2px solid #0e0101;
    border-radius: 10px;
    background: #2b2a2a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.display {
    background: #0d0d0d;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 1.5rem;
}

.display input {
    width: 100%;
    background: none;
    border: none;
    color: #f9f9f9;
    font-size: 1.5rem;
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #fdfbfb;
    color: #333;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #015212;
}

button:active {
    background: #000000;
}

button:nth-child(4n) {
    background: #4CAF50;
    color: white;
    
}

button:nth-child(4n):hover {
    background: #45a049;
   
}
.zero-btn{
    grid-column: span 2;
}
.equal-btn{
    grid-row: span 3;
}

